* text=auto

/tests export-ignore
.gitattributes export-ignore
/.github export-ignore
.gitignore export-ignore
phpcs.xml.dist export-ignore
phpstan.dist.neon export-ignore
phpunit.xml.dist export-ignore
